.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.address {
  display: flex;
  max-width: 231px;
  font-style: normal;
  flex-direction: column;
}

.address-name {
  color: var(--primary-white-color);
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.7;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: var(--regular-font-weight);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}

.address-content {
  margin-right: 70px;
}

.footer-social-link-content {
  min-width: 206px;
}

.social-link-title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form-subscribe {
  min-width: 570px;
  min-height: 86px;
  margin-left: 93px;
}

.footer-form-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-subscribe-form {
  position: relative;
  display: flex;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form-btn {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.subscribe-form-icon {
  margin-left: 10px;

  fill: var(--primary-white-color);
}
