.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer & {
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-link-icon {
  fill: var(--primary-icons-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer & {
    fill: var(--primary-white-color);
  }

  .social-link-item:hover &,
  .social-link-item:focus & {
    fill: var(--primary-white-color);
  }
}
